
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr-TR">

<head >

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="style/images/favicon.png">
    <title>My Blog @ViewBag.Title</title>
    <!-- Bootstrap core CSS -->

    @Styles.Render("~/Content/LayoutCss")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="/Content/stylejs/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
          <![endif]-->
    @RenderSection("headsection", false)
    <style>

        li {
            padding: 10px 0;
            border-bottom: 1px solid #e4e4e4;
        }
    </style>
</head>
<body  >
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
    <div class="body-wrapper">
        @Html.Partial("NavigationBarPartialView")
        <!--/.navbar -->
        <div class="offset"></div>
        <div class="dark-wrapper page-title">
            <div class="container inner">
                <h1>YENI BAŞLAYANLAR İÇİN ADIM ADIM YAZILIM </h1>
            </div>
            <!--/.container -->
        </div>
        <!--/.page-title -->

        <div class="container inner">
            <div class="row">
                <div class="col-sm-8 content">
                  @RenderBody()
                    <!-- /.blog-posts -->

                    @*<div class="pagination">
                        <ul>
                            <li><a href="#" class="btn">Prev</a></li>
                            <li class="active"><a href="#" class="btn"><span>1</span></a></li>
                            <li><a href="#" class="btn"><span>2</span></a></li>
                            <li><a href="#" class="btn"><span>3</span></a></li>
                            <li><a href="#" class="btn">Next</a></li>
                        </ul>
                    </div>*@
                    <!-- /.pagination -->

                </div>
                <!-- /.content -->
                <aside class="col-sm-4 sidebar lp30">
                    @Html.Partial("AboutUsPartialView")
                    @Html.Partial("SearchBoxPartialView")

                    @Html.Action("PopularArticles", "Home")

                    @Html.Action("GetAllTags", "Tag")

                    @Html.Action("getCategories", "Category")

                    @*@RenderSection("PopularArticles")*@
                    @*@RenderSection("Categories")*@
                    @*@RenderSection("About")*@
                    @*@RenderSection("SearchBox")*@
                    @*@RenderSection("Tags")*@
                </aside>
                <!-- /.col-sm-4 .sidebar -->

            </div>
            <!-- /.row -->
        </div>
     <footer class="footer black-wrapper">
@Html.Partial("FooterPartialView")
     </footer>
    </div>
    <!--/.body-wrapper -->
   
    @Scripts.Render("~/Content/LayoutScript")
    @RenderSection("script", false)
</body>
</html>