@using MyBlog.Data.Model
@model IEnumerable<Article>

<div class="blog-posts col-blog">
    @foreach (Article a in Model)
    {
        <div class="post row">
            <div class="col-sm-4">
                <figure>
                    <a href="/Article/ArticleDetail/@a.ArticleId">
                        <div class="text-overlay">
                            <div class="info"><span>Daha Fazla</span></div>
                        </div>
                        @if (a.Image != null)
                        {
                            <img src="@a.Image.MediumSize" alt="Resim Gösterilemiyor" />
                        }
                    </a>
                </figure>
            </div>
            <div class="col-sm-8 post-content">
                <div class="meta">
                <span>@a.Category.CategoryName</span>
                <span class="date">@a.CreateDate.ToShortTimeString()</span><span class="comments"><a href="#">@a.Comments.Count <i class="icon-chat-1"></i></a></span></div>
                <h2 class="post-title"><a href="/Article/ArticleDetail/@a.ArticleId">@a.Header</a></h2>
                <p>@MyBlogAppUI.Helpers.Helper.ShortenContent(a.Content)</p>
            </div>
        </div>
    }


</div>

